@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://use.typekit.net/pvi0sbw.css");
h1 {
  font-size: 75px;
  font-family: "roc-grotesk", sans-serif;
  font-weight: 900;
  font-style: normal;
}
h2 {
  font-size: 60px;
  font-family: "roc-grotesk", sans-serif;
  font-weight: 900;
  font-style: normal;
}
h3 {
  font-size: 42px;
  font-family: "roc-grotesk", sans-serif;
  font-weight: 900;
  font-style: normal;
}
p {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
}
a {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
}
main {
  width: calc(100% - 256px);
}
#chatBox::-webkit-scrollbar {
  width: 8px;
}
#chatBox::-webkit-scrollbar-thumb {
  background-color: #ffc634;
  border-radius: 9999px;
}
#chatBox::-webkit-scrollbar-thumb:hover {
  background-color: #ffc634;
  border-radius: 9999px;
}
#chatBox::-webkit-scrollbar-track {
  background-color: #e8e8e8;
  border-radius: 9999px;
}
